<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Landing Page</title>
  <link rel="stylesheet" href="/styles/landing.css">
</head>
<body>
  <h1>GAMES MENU</h1>
  <div class="menu-container-outer">
    <div class="menu-container-inner">
      <% if(locals.user) {%>
        <p>Welcome <%=locals.user.name%> </p>
        <div><a href="/doodle/lobby">Doodle Detectives</a></div>
        <div><a href="/user/profile">Profile</a></div>
        <div><a href="/user/logout">Logout</a></div>
      <% } else { %>
        <div><a href="/user/register">Register</a></div>
        <div><a href="/user/login">Login</a></div>
      <% } %>
    </div>
  </div>
</body>
</html>