<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Landing Page</title>
  <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
  <link rel="stylesheet" href="/styles/landing.css">
</head>
<body>
  <div class="menu-container-outer">
    <div class="menu-container-inner">
      <% if(locals.user) {%>
      <div class="main-menu">
        <h2>Welcome  <span> <%=locals.user.name%></span></h2>
        <div class="menu-options">
          <div><a href="/doodle/lobby">Game Lobby</a></div>
          <div><a href="/user/rules">How to Play</a></div>
          <div><a href="/user/profile">Profile</a></div>
          <div><a href="/user/logout">Logout</a></div>
        </div>
      </div>
      <% } else { %>
        <div class="form-container" id="login-container">
          <form class="login-form" action="/user/login" method="POST">
            <input type="email" name="email" placeholder="Email"/>
            <input type="password" name="password" placeholder="Password"/>
            <button type="submit" value="Log In">Log In</button>
          </form>
          <p class="message">Not registered? <span id="trigger-register">Create an account</span></p>
          <p class="message">Forgot your password? <span id="trigger-reset">Reset Password</span></p>
          <div class="form-container hidden" id="reset-container">
            <form class="forgot-form" action="/user/account/forgot" method="POST">
              <input type="email" name="email" placeholder="Email">
              <button type="submit">Reset Password</button>
            </form>
          </div>
        </div>
        <div class="form-container hidden" id="register-container">
          <form class="register-form" action="/user/register" method="POST">
            <input type="text" name="name" placeholder="Username..."/>
            <input type="text" name="email" placeholder="Email..."/>
            <input type="password" name="password" placeholder="Enter your password..."/>
            <input type="password" name="password-confirm" placeholder="Confirm password..."/>
            <button>Create Account</button>
            <p class="message">Already registered? <span id="trigger-login">Sign In</span></p>
          </form>
        </div>
      <% } %>
    </div>
  </div>

  <script>
    const logCont = document.getElementById('login-container');
    const resCont = document.getElementById('reset-container');
    const regCont = document.getElementById('register-container');

    const triggerReset = document.getElementById('trigger-reset');
    const triggerRegister = document.getElementById('trigger-register');
    const triggerLogin = document.getElementById('trigger-login');

    triggerReset.addEventListener('click', toggleReset)
    triggerRegister.addEventListener('click', switchForm)
    triggerLogin.addEventListener('click', switchForm)

    function toggleReset() {
      resCont.classList.toggle('hidden');
    }

    function switchForm() {
      regCont.classList.toggle('hidden');
      logCont.classList.toggle('hidden');
    }
  </script>
</body>
</html>