html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: url('/images/dd-bg4.jpg') no-repeat center center fixed;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.menu-container-outer {
	width: 40%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-container-inner {
	width: 60%;
	height: 90%;
	background-color: rgba(100,100,100,0.3);
	box-shadow: 0px 0px 2px 2px rgba(255,255,255,0.2);
	border-radius: 6px;
}

.login-container > form {
	height: 100%;
	width: 100%;
}

.login-container input {
	text-align: left;
	padding: 15px 5px;
	margin-left: 10px;
	margin-top: 20px;
	width: 90%;
	border: none;
	border-radius: 3px;
	color: #757575;
}

.login-container button { 
	background-color: #004F59;
	border: none;
	padding: 15px 5px;
	margin-left: 10px;
	margin-top: 20px;	
	width: 93%;
	border-radius:3px;
	box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
	color: #fff;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: white;
}