html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: url('/images/dd-bg4.jpg') no-repeat center center fixed;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}



.menu-container-outer {
	width: 40%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-container-inner {
	position: relative;
	width: 60%;
	height: 90%;
	background-color: rgba(50,50,50, 0.4);
	border: 5px solid rgba(198,198,233, 0.1);
	border-radius: 5px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	color: #B8AD89;
}

.form-container > form {
	height: 100%;
	width: 100%;
	opacity: 1;
}

.form-container input {
	text-align: left;
	padding: 15px 5px;
	margin-left: 10px;
	margin-top: 20px;
	width: 90%;
	border: none;
	border-radius: 3px;
	color: #757575;
}

.form-container button { 
	background-color: #004F59;
	border: none;
	font-size: 1.5em;
	padding: 10px 5px;
	margin-left: 10px;
	margin-top: 20px;	
	width: 93%;
	border-radius:3px;
	box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
	color: #fff;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: white;
}

.message {
	box-sizing: border-box;
	padding: 0px 15px;
	font-size: 16px;
	cursor: default;
}

.message > span {
	color: #fbb71e;
	font-size: 20px;
	font-weight: bolder;
	cursor: pointer;
}

#login-container {
	display: block;
	position: absolute;
	transition: all 450ms ease-in-out;

}

#login-container.hidden {
	visibility: hidden;
	display: inline-block;
	transform: rotateY(180deg);
	opacity: 0;
}

#reset-container {
	position: absolute;
	display: block;
	transition: all 400ms ease-in-out;
}

#reset-container.hidden {
	scale: (0);
	transform: translateY(-100%);
	opacity: 0;
	visibility: hidden;
}

#register-container {
	position: absolute;
	display: block;
	transition: all 450ms ease-in-out;
}

#register-container.hidden {
	visibility: hidden;
	opacity: 0;
	display: inline-block;
	transform: rotateY(-180deg);
}