* {
	box-sizing: border-box;
	user-select: none;
	cursor: default;
}

html, body {
	font-family:'Special Elite', cursive;
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

html {
	background: black;
}

body {
	background: radial-gradient(#4F6260 30%,#0E0E0E);
	background-size: cover;
}

.header-container, .footer-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: #F9FFC5;
	font-family: 'Special Elite';
	font-size: 10vmin;
	letter-spacing: 3.5vmin;
	text-transform: uppercase;
	text-shadow: 3px 3px 5px black;
}

.header-container {
	height: 20%;
	align-items: flex-start;
	padding-top: 25px;
}

.footer-container {
	height:15%;
	align-items: flex-end;
	padding-bottom: 10px;
}


.logo-image {
	height: 100%;
}

.logo-image img {
	max-height: 100%;
	max-width: 100%;
}

.header-container a {
	text-decoration: none;
	color: white;
}


.container {
	position: relative;
	z-index: 10;
	height: 65%;
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
}

.lobby-users-outer {
	position: relative;
	height: 100%;
	width: 25%;
	margin: 0px 30px;
	background: white;
	border: 5px solid rgba(198,198,233, 0.2);
	border-radius: 5px;
	box-shadow: 0 19px 30px rgba(0,0,0,0.40), 0 15px 12px rgba(0,0,0,0.22);
	color: #B8AD89;
	display: flex;
	flex-direction: column;
	transform: rotate(-10deg);
}

.lobby-users-outer::after {
  position: absolute;
  content: '';
  top: -12px;
  left: 0;
  height: 15px;
  width: 100%;
  background-size: 17px 14px;
  background-image: radial-gradient(circle at 5% 40%, transparent 70%, #555 20%);
}

.lobby-users-outer::before {
  content: '';
  z-index: -1;
  position: absolute;
  height: 110%;
  width: 112%;
  top: -7%;
  left: -6%;
  background: #111;
  border-radius: 5px 5px 10px 10px;
}

.lobby-users-inner {
	height: 100%;
	width: 100%;
	position: absolute;
}

.paper {
	position: absolute;
  height: 100%;
  width: 100%;
  background: white;
}

.lobby-users-header {
	height: 10%;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	letter-spacing: 0.2em;
	margin: 0;
	padding-top: 15px;
	color: red;
}

#lobby-users-list {
	position: relative;
  color: #444;
	background: linear-gradient(to top, #d9eaf3 0%, #fff 8%) 0 4px;
	background-size: 100% 40px;
	overflow-y: scroll;
	
	padding: 10px;
	width: 100%;
	height: 90%;
}

.user {
	font-size: 1.5em;
	padding: 0.3em;
}

#lobby-users-list::-webkit-scrollbar {
    width: 1em;
}
 
#lobby-users-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#lobby-users-list::-webkit-scrollbar-thumb {
  background-color: #F0BB18;
  outline: 1px solid slategrey;
}

.button-container {
	height: 100%;
	width: 75%;
	margin: 0;
	position: relative;
}

#menu-container {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0;
	overflow-y: scroll;
	background: #F8EB60;
	color: #B8AD89;
	font-size: 25px;
	/*border: 5px solid rgba(198,198,233, 0.2);*/
	border-radius: 5px;
	box-shadow: 0 19px 38px -15px rgba(0,0,0,0.30), -5px 15px 12px -5px rgba(0,0,0,0.22), 0px -1px 15px -5px rgba(0,0,0,0.3);
}

#menu-container::-webkit-scrollbar {
  width: 1em;
}
 
#menu-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#menu-container::-webkit-scrollbar-thumb {
  background-color: #F0BB18;
  outline: 1px solid slategrey;
}

.tabs {
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0px;
  text-align: center;
}

.tabs div {
	position: absolute;
	bottom: -3px;
  width: 250px;
  height: 50px;
  text-align: center;
  border-radius: 6px 6px 0px 0px;
  padding-top: 10px;
  background: #F8EB60;
  transition: all 150ms ease-in-out;
  box-shadow: 0px 2px 5px 0px black;
}

.tabs div:nth-child(1) {
	filter: brightness(0.9);
	width: 180px;
	left: 0;
}

.tabs div:nth-child(2) {
	right: 230px;
}

.tabs div:nth-child(3) {
	right: 0;
}

.tabs div a {
	font-size: 1.5em;
	font-weight: bolder;
	letter-spacing: 0.1em;
	line-height: 1.5em;
	vertical-align: middle;
  text-decoration: none;
	color: black;
}

.tabs div:nth-child(1):hover {
	filter: brightness(0.8);
}

.tabs div:nth-child(2):hover {
	background-color: #FF4545;
}

.tabs div:nth-child(3):hover {
	background-color: #2BB3DA;
}

.no-cases {
	position: absolute;
	top: 35%;
	left: 25%;
	transform: rotate(-30deg);
	margin: 10px;
	height: 35%;
	width: 50%;
	border-radius: 50px;
	border: 12px solid red;
	color: red;
	font-size: 2.1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.no-cases p {
	width: 80%;
	text-align: center;
	padding-top: 10px;
	margin: auto;
}

.room-container {
	position: relative;
	display: flex;
	flex-direction: row;
	margin: 10px;
	height: 65px;
	margin-left: 20px;
	padding: 5px 0;
	align-items: center;
	color: black;
}

.room-container:after {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 10%;
	width: 55%;
	border-bottom: 1px dashed black;
}

.room-container:last-child:after {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 10%;
	width: 55%;
	border: none;
}

.room-name {
	width:60% ;
}


.room-pop {
	width: 20%;
	display: flex;
	justify-content: center;
}

.room-link {
	width: 20%;
	display: flex;
	justify-content: center;
}

.room-button {
	position: relative;
	padding: 10px 20px 5px 20px;
	margin: 0px 5px 5px 0px;
	float: left;
	border-radius: 5px;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
	text-align: center;
}

.join-button {	
	background-color: #18F018;
	border-bottom: 3px solid #14BF14;
	text-shadow: 0px -2px #14BF14;
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
}

.join-button:hover {
	background-color: #30FF00;
}

.join-button:active	{
	transform: scale(0.95);
	border-bottom: 1px solid;
}

.join-button.game-active {
	filter: grayscale(0.5);
}

.full-button {
	background-color: #FF2B2B;
	text-shadow: 0px -2px #A71E1E;
}	

.new-game-container {
	position: absolute;
	right: calc(0px - 17%);
	bottom: calc(0px - 17%);
	width: 40%;
	height: 40%;
}
.arrow {
	background-color: #F54646;
	padding-top: 3px;
	width: 160px;
	height: 40px;
	font-size: 30px;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
	text-shadow: 1px 1px 1px black;
}

.arrow::after{
	content:'';
	position: absolute;
	left: 100%;
	top: -50%;
	width: 0;
	height: 0;
	border-top: 40px solid transparent;
	border-left: 40px solid #F54646;
	border-bottom: 40px solid transparent;
}

.arrow, .arrow * {
	filter: drop-shadow(0px 3px 5px black);
}

.new-game-container .arrow {
	color: white;
	position: absolute;
	top: 50%;
	left: -125px
}


.action-button {
	position: absolute;
	height: 100%;
	width: 100%;
	transition: all 120ms ease-in-out;
	background: url(/images/badge.png) no-repeat center;
	background-size: contain;
	transform: rotate(15deg);
	filter: drop-shadow(0px 0px 5px black);
	border: none;
}

.action-button:hover {
	transform: scale(1.05);
	filter: brightness(1.1) drop-shadow(0px 0px 5px black);
}

.action-button:active {
	transform: scale(0.95);
}

.action-button.spin-away {
	transition: all 700ms cubic-bezier(0.64, -0.5, 0.67, 1.53);
	transform: rotate(900deg) translateY(-600px);
}

.loading-rooms {
	position: absolute;
	width: 100%;
	height: 15%;
	font-size: 2em;
	color: black;
	top: 45%;
	text-align: center;
}

.loading-rooms > span {
	display: inline-block;
	animation-name: bounce;
	animation-duration: 750ms;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.loading-rooms > span:nth-child(2) {
	animation-delay: 250ms;
}

.loading-rooms > span:nth-child(3) {
	animation-delay: 500ms;
}

@keyframes bounce {
	0%, 100% {
		transform: translateY(0);
	}

	45% {
		transform: translateY(-8px);
	}

	85% {
		transform: translateY(4px);
	}
}
