html, body {
	font-family:'Special Elite', cursive;
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

html {
	background: black;
}

body {
	background: radial-gradient(#232D2C 30%,#1E1E1F);
	background: url('/images/lobbybg2.png') no-repeat center center fixed;
	background-size: cover;
}

.header-container {
	height: 20%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.logo-image {
	height: 100%;
}

.logo-image img {
	max-height: 100%;
	max-width: 100%;
}

.header-container a {
	text-decoration: none;
	color: white;
}

.container {
	position: relative;
	z-index: 10;
	height: 60%;
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
}

.lobby-users-outer {
	position: relative;
	height: 100%;
	width: 20%;
	margin: 0px 30px;
	background: white;
	border: 5px solid rgba(198,198,233, 0.2);
	border-radius: 5px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	color: #B8AD89;
	display: flex;
	flex-direction: column;
	transform: rotate(-10deg);
}

.lobby-users-outer::after {
  position: absolute;
  content: '';
  top: -12px;
  left: 0;
  height: 15px;
  width: 100%;
  background-size: 17px 14px;
  background-image: radial-gradient(circle at 5% 40%, transparent 70%, #555 20%);
}

.lobby-users-outer::before {
  content: '';
  z-index: -1;
  position: absolute;
  height: 110%;
  width: 112%;
  top: -7%;
  left: -6%;
  background: #111;
  border-radius: 5px 5px 10px 10px;
}

.lobby-users-inner {
	height: 100%;
	width: 100%;
	position: absolute;
}

.paper {
	position: absolute;
  height: 100%;
  width: 100%;
  background: white;
}

.lobby-users-header {
	height: 10%;
	width: 100%;
	text-align: center;
	font-size: 1.8em;
	letter-spacing: 0.2em;
	box-sizing: border-box;
	margin: 0;
	padding-top: 15px;
	color: red;
}

#lobby-users-list {
	position: relative;
  color: #444;
	background: linear-gradient(to top, #d9eaf3 0%, #fff 8%) 0 4px;
	background-size: 100% 40px;

	overflow-y: scroll;
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	height: 90%;
}

.user {
	font-size: 1.5em;
	padding: 0.3em;
}

#lobby-users-list::-webkit-scrollbar {
    width: 1em;
}
 
#lobby-users-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#lobby-users-list::-webkit-scrollbar-thumb {
  background-color: #F0BB18;
  outline: 1px solid slategrey;
}

.button-container {
	height: 100%;
	width: 75%;
	margin: 0;
	position: relative;
}

#menu-container {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0;
	overflow-y: scroll;
	background: #F8EB60;
	color: #B8AD89;
	font-size: 25px;
	border: 5px solid rgba(198,198,233, 0.2);
	border-radius: 5px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#menu-container::-webkit-scrollbar {
    width: 1em;
}
 
#menu-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#menu-container::-webkit-scrollbar-thumb {
  background-color: #F0BB18;
  outline: 1px solid slategrey;
}

.tabs {
  position: absolute;
  width: 430px;
  top: 0px;
  right: 0px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.tabs div {
  width: 200px;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 6px 6px 0px 0px;
  padding-top: 10px;
  transform: translateY(-100%);
  background: #CEC136;
  transition: all 150ms ease-in-out;
}

.tabs div a {
	font-size: 1.5em;
	font-weight: bolder;
	letter-spacing: 0.1em;
	line-height: 1.5em;
	vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
	color: black;
}

.tabs div:nth-child(1):hover {
	color: #FDFF59;
	background-color: #FF4545;
}

.tabs div:nth-child(2):hover {
	color: #FDFF59;
	background-color: #2BB3DA;
}

.no-cases {
	display: flex;
	flex-direction: row;
	margin: 10px;
	align-items: center;
	color: black;
	box-sizing: border-box;
	position: absolute;
	font-size: 2.2em;
	height: 3em;
	width: 7em;
	border-radius: 50px;
	border: 12px solid red;
	color: red;
	transform: translate(75%, 100%) rotate(-30deg);
}

.no-cases p {
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	padding-top: 10px;
	margin: auto;
}

.room-container {
	position: relative;
	display: flex;
	flex-direction: row;
	margin: 10px;
	margin-left: 20px;
	padding: 5px 0;
	align-items: center;
	color: black;
}

.room-container:after {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 10%;
	width: 55%;
	border-bottom: 1px dashed black;
}

.room-container:last-child:after {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 10%;
	width: 55%;
	border: none;
}

.room-name {
	width:60% ;
	/*font-weight: bold;*/
}


.room-pop {
	width: 20%;
	display: flex;
	justify-content: center;
}

.room-link {
	width: 20%;
	display: flex;
	justify-content: center;
}

.room-button {
	position: relative;
	padding: 10px 20px 5px 20px;
	margin: 0px 5px 5px 0px;
	float: left;
	border-radius: 5px;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
	text-align: center;
}

.join-button {	
	background-color: #18F018;
	border-bottom: 3px solid #14BF14;
	text-shadow: 0px -2px #14BF14;
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
}

.join-button:hover {
	background-color: #30FF00;
}

.join-button:active	{
  -webkit-transform: translate(0px,5px);
	transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.full-button {
	background-color: #FF2B2B;
	text-shadow: 0px -2px #A71E1E;
}	

.action-button {
	font-family: 'Arial';
	position: absolute;
	box-sizing: border-box;
	/*left: calc(50% - 4.5em);*/
	right: calc(0px - .75em);
	border-radius: 50%;
	font-size: 6em;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5em;
	vertical-align: middle;
	text-align: center;
	color: #FFF;
	font-weight: bolder;
	text-decoration: none;	
	box-shadow: 0px 0px 20px -5px black;
	background-color: #FFC000;
	border-bottom: 5px solid #B99116;
	text-shadow: 0px -2px #B99116;
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	transform-origin: 50% 300%;
	transform: translateY(-50%);
}

.action-button:hover {
	box-shadow: 0px 0px 5px 0px black;
	background-color: #FFDE00;
	border-bottom: 5px solid #D1A418;
	transform: scale(1.2);
}

.action-button:active {
  -webkit-transform: translate(0px,5px);
	transform: translateY(-45%);
	border-bottom: 1px solid;
}

.loading-rooms {
	position: absolute;
	width: 100%;
	height: 15%;
	font-size: 2em;
	color: black;
	top: 45%;
	text-align: center;
}

.loading-rooms > span {
	/*position: absolute;*/
	display: inline-block;
	animation-name: bounce;
	animation-duration: 750ms;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.loading-rooms > span:nth-child(2) {
	animation-delay: 250ms;
}

.loading-rooms > span:nth-child(3) {
	animation-delay: 500ms;
}

@keyframes bounce {
	0%, 100% {
		transform: translateY(0);
	}

	10% {
		transform: translateY(0);
	}

	45% {
		transform: translateY(-18px);
	}

	95% {
		transform: translateY(2px);
	}
}
