html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	/*background: linear-gradient(45deg, #2c43d6 2%,#2c43d6 14%,#2da8d8 40%,#35d6ff 51%,#e3f5ab 84%,#f8ffe8 100%); */
}

body {
	background: url('/images/lobbybg2.png') no-repeat center center fixed;
	background-size: cover;
}

.headerContainer {
	height: 20%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.logo-image {
	height: 100%;

}

.logo-image img {
	max-height: 100%;
	max-width: 100%;
}

.headerContainer a {
	text-decoration: none;
	color: white;
}

#tetrisLogo {
	height: 80%;
}	

.container {
	height: 60%;
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

#lobbyUsers {
	height: 100%;
	width: 20%;
	margin: 0px 15px;
	background-color: rgba(50,50,50, 0.8);
	border: 5px solid rgba(198,198,233, 0.2);
	border-radius: 5px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	color: #B8AD89;
}

.user-title {
	height: 25px;
	width: 100%;
	text-align: center;
	font-size: 1.3em;
}

.user-list {
	overflow-y: scroll;
	width: 100%;
	height: calc(100% - 25px);
}

.user {
	margin-left: 5px;
}

.user-list::-webkit-scrollbar {
    width: 1em;
}
 
.user-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.user-list::-webkit-scrollbar-thumb {
  background-color: #F0BB18;
  outline: 1px solid slategrey;
}

#menuContainer {
	height: 100%;
	width: 75%;
	margin: 0;
	overflow-y: scroll;
	background-color: rgba(198,198,233, 0.1);
	color: #B8AD89;
	font-size: 25px;
	border: 5px solid rgba(198,198,233, 0.2);
	border-radius: 5px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#menuContainer::-webkit-scrollbar {
    width: 1em;
}
 
#menuContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#menuContainer::-webkit-scrollbar-thumb {
  background-color: #F0BB18;
  outline: 1px solid slategrey;
}

.roomContainer {
	display: flex;
	flex-direction: row;
	margin: 10px;
	align-items: center;
}

.roomContainer:nth-child(even) {
	background-color: rgba(198,198,233, 0.7);
}

.roomName {
	width:60% ;
	font-weight: bold;
	margin
}

.roomPop {
	width: 20%;
	display: flex;
	justify-content: center;
}

.roomLink {
	width: 20%;
	display: flex;
	justify-content: center;
}

.join-button {
	position: relative;
	padding: 5px 20px;
	margin: 0px 5px 5px 0px;
	float: left;
	border-radius: 5px;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
	/*background-color: #F0BB18;
	border-bottom: 3px solid #B99116;
	text-shadow: 0px -2px #B99116;*/
	background-color: #18F018;
	border-bottom: 3px solid #14BF14;
	text-shadow: 0px -2px #14BF14;
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.join-button:active	{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.full-button {
	position: relative;
	padding: 5px 20px;
	margin: 0px 5px 5px 0px;
	float: left;
	border-radius: 5px;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
	/*background-color: #F0BB18;
	border-bottom: 3px solid #B99116;
	text-shadow: 0px -2px #B99116;*/
	background-color: #FF2B2B;
	text-shadow: 0px -2px #A71E1E;
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}	

.newRoomContainer {
	height: 20%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.action-button {
	position: relative;
	padding: 10px 40px;
	margin: 0px 10px 10px 0px;
	float: left;
	border-radius: 10px;
	font-size: 2.5em;
	color: #FFF;
	text-decoration: none;	
	background-color: #F0BB18;
	border-bottom: 5px solid #B99116;
	text-shadow: 0px -2px #B99116;
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	transform: translateY(-50%);
}

.action-button:active {
  -webkit-transform: translate(0px,5px);
	transform: translateY(-45%);
	border-bottom: 1px solid;
}
