* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

img {
	pointer-events: none;
	user-select: none;
}

.container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  background: radial-gradient(#627675 30%,#3C4D4B);
}

.wallet {
	width: 600px;
	height: 600px;
	background-color: #333;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0px 0px 15px -1px #333;
	border-radius: 5px;
}

.badge, .id-panel {
	height: 45%;
	width: 95%;
	background-color: #3f3f3f;
	box-shadow: 0px 0px 15px -3px #000 inset;
  border: 2px dashed #333;
  border-radius: 10px;
}

.badge {
	display: flex;
	justify-content: center;
	align-items: center;
}

.badge img {
	height: 250px;
	filter: drop-shadow(0px 0px 2px black);
}

.id-panel {
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.id-panel::after {
	z-index: 10;
	height: 100%;
	width: 100%;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 0px 0px 15px -1px #000 inset;
	border-radius: 10px;
	pointer-events: none;
}

.top {
	width: 100%;
	height: 30%;
	background-color: #151573;
	display: flex;
	flex-wrap: nowrap;
	border-radius: 10px 10px 0px 0px;
}

.top > div {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-container {
	width: 20%;
}

.top .bar-container {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bar-container div {
	height: 22px;
	margin: 5px;
	background-color: #06065d;
}

.bar-container div:nth-child(1) {
	width: 90%;
}

.bar-container div:nth-child(2) {
	width: 70%;
}

.icon {
   display:block;
   width: 40%;
   height: 75%;
   background-color: #fcdb74;
   border-radius: 30% 30% 60% 60% / 30% 30% 70% 70%;	
}

.text {
	height: 70%;
	width: 65%;
	background-color: white;
	border-radius: 0 0 0 10px;
}

.text form {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

form * {
	width: 90%;
}

.text div {
	background-color: black;
	height: 22px;
	margin: 5px auto;
}

input, button {
	margin: auto;
	background-color: #FFCD96;
	color: white;
	height: 25px;
	border: none;
}

input:hover, button:hover {
	filter: brightness(1.2);
}

button {
	box-shadow: 0px 5px 20px -2px #000 ;
	margin-bottom: 10px;
	background-color: #FF8400;
	text-shadow: 0px 0px 7px black;
	text-transform: uppercase;
}

button:active {
	box-shadow: 0px 2px 20px -2px #000 ;
}

input {
	padding-left: 10px;
	color: #414100;
	box-shadow: 0px 0px 15px -3px #7D7D7D inset;
}

.photo {
	height: 70%;
	width: 35%;
	background-color: #E4E4E4;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-radius: 0 0 10px 0;
}

.photo img {
	height: 95%;
}

