html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: radial-gradient(circle, #4F6260 10%,#0E0E0E);
	overflow: hidden;
}

.navbar {
	color: white;
}

.container {
	font-family: 'Special Elite', cursive;
	font-size: 2.5vmin;
	line-height: 1.5em;
	margin: 0 auto;
	max-width: 800px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.paper-outer {
	box-sizing: border-box;
	background: #F8EB60;
	padding: 3% 5% 3% 5%;
}

h1 {
	text-align: center;
}