<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Doodle Detective Lobby</title>
  <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
  <link rel="stylesheet" href="/styles/lobby.css">
</head>
<body>

    <div class="header-container">
      <div class="logo-image">
        <img src="/images/title2.png">
      </div>
    </div>
    <div class="container">
      <div class="lobby-users-outer">
        <div class="paper"></div>
        <div class="lobby-users-inner">
          <div class="lobby-users-header">UNASSIGNED</div>
          <div id="lobby-users-list"></div>
        </div>
      </div>
      <div class="button-container">
        <div class="tabs">
          <div><a href="/user/profile">Profile</a></div>
          <div><a href="/user/logout">Logout</a></div> 
        </div>
        <div id="menu-container">
          <div class="loading-rooms">Loading <span>.</span> <span>.</span> <span>.</span></div>
          <!-- <div class="newRoomContainer"> -->
          <!-- </div> -->
        </div>
        <a href="/doodle/room" class="action-button">+</a>
        
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/lobby.js"></script>

</body>
</html>