<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Doodle Detective Room</title>
    <link rel="stylesheet" href="../styles/doodleRoom.css">
  </head>
  <body>
    <h1>Doodle Detective Room</h1>
    <div><a href="/user/profile">Profile</a></div>
    <div><a href="/user/logout">Logout</a></div>

    <div id="canvas"></div>
    <div id="chatbox"></div>
    <div id="display"></div>

    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="../js/doodle/state/store.js"></script> -->
    <script src="../js/doodle/components/ConnectionManager.js"></script>
    <script src="../js/doodle/components/EventHandler.js"></script>
    <script src="../js/doodle/index.js"></script>
  </body>
</html>