<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="/styles/profile.css">
</head>
<body>

	<%- include ../partials/navTemplate.ejs %>

	<div class="container">
		<div class="wallet">
			<div class="badge">
				<img src="/images/badge.png" alt="badge">
			</div>			
			<div class="id-panel">
				<div class="top">
					<div class="icon-container">
						<div class="icon"></div>
					</div>
					<div class="bar-container">
						<div></div>
						<div></div>
					</div>
					<div class="icon-container">
						<div class="icon"></div>
					</div>
				</div>
				<div class="text">
					<form action="/user/profile" method="POST">
						<div></div>
						<input type="text" name="name" value=<%= user.name %>>
						<div></div>
						<input type="email" name="email" value=<%= user.email %>>
						<div></div>
						<!-- <label for="name">Name</label> -->
						<!-- <label for="email">Email</label> (You will need to log back in with new email) -->
						<button type="submit">Update Account</button>
					</form>								
				</div>
				<div class="photo">
					<img src="/images/man.png" alt="">
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>