<!DOCTYPE html>
<html lang="en">
<head>
	<meta name='viewport', content='width=device-width'>
	<meta http-equiv='Content-Type', content='text/html; charset=UTF-8'>
	<link rel="stylesheet" href="password-reset.css">
</head>
<body>
	<h2>Password Reset</h2>
	<div>
		<p>Please click the button to reset your password.</p>
		<p>Note: This link is only valid for 1 hour.</p>
	</div>
	<button><a href=<%=resetURL %> target='_blank'>Reset Password</a></button>
	<p>If the button does not work go to <%=resetURL %></p>
	<p>If you didn't request a password change, please ignore this message</p>
</body>
</html>